:root{ 
    --primary-text-colour:  #757575;
    --title-text-colour: #000000;
    --accent-colour: #212121; 
    --primary-bg-colour: #FFFFFF;

}
.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

.address{
    font-style: normal;
}
.logo {
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}
.navigation-link{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:  var(--accent-colour);
}
.navigation-link:hover ,
.navigation-link:focus{
    colour: #2196F3;
}

body {
background-colour: var (--primary-bg-colour);
color:  var(--primary-text-colour);
font-family: Roboto;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;


/* Hero */
.hero-title {
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-text {
    font-family: Roboto;
    font-style: normal;    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
}
.hero-text:hover ,
.hero-text:focus{
    colour: #2196F3;

/* softskills */
.section-title {
color: var(--title-text-colour);
font-weight: 400;
font-size: 48px;
line-height: 1.5; 
text-align: center;
}
/* Features*/
.feature-list.title,.work-list.title   {
color: var(--title-text-colour);
font-weight: 700;
font-size: 24px;
line-height: 1.5; 
text-align: center;
}
.feature-list.text{     
font-size: 18px;
line-height: 1.67; 

}

/* Logo */ 
.logo{
    color:  var(-title-text-colour);
    font-family: Comfortaa, cursive;
    font-size: 28px;
    line-height: 1.14; 

}
.logo:hover{
    color: var (--accent-colour);         
}
button{
font-family: inherit;

}

/*цвет основного текста*/
/* Site nav*/
.site-nav.link {
    colour: var(--primary-text-colour);
    font-family: inherit;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2; 
   
}

}
.site-nav.link.curent {
    colour: var(--accent-colour);
}

.hero-title, .features-title, .work-title  {
    colour: var(--title-text-colour);
} 
/* Hero */
.hero-title {
    colour: var(--title-text-colour);
} 

/* Features */
.feature-list .title {
    colour: var(--title-text-colour);
}
.page.web1 {
    colour: var(--accent-colour);
}
/* Button*/
.button{
    color: var(--title-text-colour);
    background-color: var(--primary-bg-colour);
}